
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Veranda', sans-serif;
}

p {
    line-height: 2;
    text-align: right;
}

.grid {
    margin: 0px;
    max-width: 990px;
    width: 100%;
}

.rowflex {
    width: 100%;
    margin: 10px;
    display: flex; 
    flex-wrap: wrap;
}

.row {
    width: 100%;
    margin: 10px;
}

.pic {
    margin: 10px;
}

.wrap-div {
    margin: 10px;
    padding: 10px;
    border: 2px #ccc;
    outline: 1px solid black !important;
}

.title {
    color: #666;
    font: 45px Verdana, sans-serif;
    margin: 25px 0px 25px 0px;
    text-align: right;
}

.subtitle {
    color: #f07c17;
    font-family: 24px Verdana, sans-serif;
    text-align: right;
}

.bannerpic {
    margin: 10px;
    width: 95%;
    height: 45%;
}

.thumbnail {
    margin: 10px;
    width: 100px;
    height: 100px;
}

.featured {
    margin: 10px;
    width: 95%;
    height: 80%;

}

.css_logo {
    border:0px;
    width:88px;
    height:31px;
}